
//footer
.footer{
	font-size:12px;
	color:green;
	margin-top:650px;
	}
#foot a{
	color:orange;
	font-weight:bold;
}

#foot a:hover{
	color:#33FFFF;
	font-weight:bold;
}

#tengah{text-align: center;
		color:#0000FF;}
.hr3{width:100%; align:center;}