body{
	background: #FFCC33;
}
#navigasi{
	padding-top: 15px;
}
.jumbotron{
	background: #FF9900;
}
#spasi{
	height: 100px;
}

/*hover*/
#hover-gambar:hover{
	padding: 3px;
}

/*footer*/
.footer{
	font-size:12px;
	color:green;
	margin-top:650px;
	}
#foot a{
	color:orange;
	font-weight:bold;
}

#foot a:hover{
	color:#33FFFF;
	font-weight:bold;
}

#tengah{text-align: center;
		color:#0000FF;}
.hr3{width:100%; align:center;}