body{
	background: #FFCC33;
}
#navigasi{
	padding-top: 15px;
}
.jumbotron{
	background: #FF9900;
}
#spasi{
	height: 100px;
}

/*hover*/
#hover-gambar h5{
	font-weight: bold;
	text-align: center;
	color: #003366;
}
#hover-gambar:hover{
	padding: 3px;
}

/*footer*/
#tengah{
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
		}
.hr3{width:100%; align:center;}